:root {
    --bride: url("../img/bride.jpg");
    --groom: url("../img/groom.jpg");
    --intro_bg: url("../img/intro-bg.jpg");
    --celebrate_bg: url("../img/celebrate.jpg");
    --footer_line: url("../img/footer-line-bg.jpg");
    --destination: url("../img/destination.jpg");
}